html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

.section {
  border: solid pink 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 35%;
}

/* Utility */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.form {
  max-width: 30rem;
}